html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* typography and icons */
h1 {
    color: #0f8cdf;
    margin-bottom: 10px;
    font-size: 20px;
}

i {
    font-size: 15px;
    cursor: pointer;
}

.fa-solid {
    color: #999;
}

.liked {
    color: red;
}

.retweeted {
    color: limegreen;
}

/* layout */

main, header {
    width: 290px;
    margin: 0 auto;
}
header{
    padding-bottom: 25px;
}

.tweet-input-area{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}


/* Text areas + btns */

textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
}

.replies textarea {
    height: 50px;
    background-color: whitesmoke;
}

button{
    background-color: #1da1f2;
    border: none;
    color: white;
    border-radius:  20px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 19px;
    width: 100%;
    cursor: pointer;
}

#reply-btn {
    padding: 5px 10px;
    font-size: 14px;
    width: 90px;
}

.reply-close-btn{
    width: 30px;
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: transparent;
    border: none;
    color: #555;
    padding: 2px 6px;
    font-size: 14px;
}

.reply-close-btn:hover{
    color: black;
}
/* Tweet */

.tweet{
    border-top: solid lightgray 1px;
    padding: 20px 0 0 0;
    margin: 15px 0;
    width: 100%;
}
.replies .tweet {
    border: none;
}
.tweet-inner {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-details {
    display: flex;
    justify-content: space-between;
    width: 160px;
    font-size: 13px;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}

.tweet-reply {
    border-top: lightgray solid 1px;
    padding: 20px 0 0 0;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle {
    font-size: 10px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text {
    width: 207px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

/* Images */

.profile-pic{
    border: 1px solid lightgray;
    width: 48px;
    border-radius: 50%;
    margin-left: 20px;
}

/* Utility */
.hidden {
    display: none;
}


.line {
    border: 1px solid #999;
    height: 50px;
    margin-bottom: 3px;
}

.line-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    gap: 3px;
}

.replies {
    display: none;
    width: 450px;
    height: 320px;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: whitesmoke;
}